.aceitacao {
  background-color: yellow;
}
.curiosidade {
  background-color: orange;
}
.meta {
  background-color: purple;
}
.status {
  background-color: magenta;
}
.liberdade {
  background-color: red;
}
.honra {
  background-color: skyblue;
}
.ordem {
  background-color: pink;
}
.maestria {
  background-color: lightblue;
}
.poder {
  background-color: darkolivegreen;
}
.relacao {
  background-color: green;
}
