.header {
  width: max-content;
  margin: 0 auto;
}
.header__title {
  font-size: xx-large;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-align: center;
}

.header__info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.header__info-container > * {
  margin: 0 0.5rem;
}
.header__info-side {
  font-size: 48px;
}

.header__info-middle {
  font-size: xx-large;
  background-color: blue;
  color: #fff;
  font-weight: bolder;
  padding: 0.5rem 1rem;
}

@media (max-width: 768px) {
  .header__title {
    font-size: xx-large;
  }
  .header__info-container {
    margin: 0;
    flex-flow: column nowrap;
    justify-content: start;
    white-space: nowrap;
    text-align: center;
  }
  .header__info-side {
    font-size: 18px;
  }
  .header__info-middle {
    font-size: 18px;
  }
}
